.footer-container{
    padding-top: 3rem;
    background-color: rgb(43, 43, 43);
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    padding-bottom: 3rem;
    flex-wrap: wrap;
    color: white;
}
.footer-left{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
}
.location{
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    
}
.location h4{
    padding-top: 1rem;
}
.phone p{
    padding-top: 1rem;
}
.mail p{
    padding-top: 1rem;
}
.phone{
    display: flex;
    padding-bottom: 1rem;

}
.mail{
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}
.basic-icons{
    fill: white;
    font-size: 3rem;
    padding-right: 1rem;
    border: 1px rgb(0, 0, 0);
    
}
.footer-right{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;

}
.logos{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
.right-logos{
    font-size: 2rem;
}
@media only screen and (max-width: 700px){
    .footer-container{
        gap: 1rem;
    }
}