.price-container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    gap: 1rem;
    
    flex-wrap: wrap;
}
.price-options{
    display: flex;
    align-content: center;
    flex-direction: column;
    min-width: 260px;
    height: 350px;
    background-color: rgb(114, 113, 113);
    flex-wrap: wrap;
    border-radius: 10px;
    
    
}
.pricing-title{
    text-align: center;
    color: white;
    padding: 2rem;
    font-size: 60px;
}
.price{
    background-color: black;
    padding: 7rem;
}
.pricing-container{
    display: flex;
    justify-content: center;
    
}
.price-tier{
    text-align: center;
    color: white;
    padding: 1rem;
    font-weight: 700;
    height: fit-content;
}
.dollar{
    fill: rgb(110, 218, 110);
    font-size: 50px;
    
}
.pricing-container p{
    font-size: 45px;
    color: greenyellow;
}
.price-container{
    display: flex;
    align-items: baseline;
}
.price-options h5{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: rgba(207, 206, 206, 0.897);
    padding-bottom: 1rem;
}
.stuff{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
    text-align: center;
    color: white;
    text-align:justify;
    
}
.stuffs{
    display: flex;
    gap: 5px;
    padding-top: 5px;
    justify-content: center;
    text-align: justify;
    color: white;

}

.buy-btn{
    margin: 0 auto;
    margin-top: 1rem;
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    background-color: rgb(93, 184, 3);
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
    transition: 0.4s ease-in-out;
    border-radius: 10px;
}
.buy-btn:hover{
    background-color: rgb(77, 151, 3);
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
}
